<h1 class="heading bg subtitle"> Helping You Get the Most Out of Financial Aid</h1>


<ul>
    <li class="list"> File Your Free Application For Federal Student Aid Easily </li>
    <li class="list"> Coordinate with your parents or spouse to complete the application </li>
    <li class="list"> Understand FAFSA requirements of specific information </li>
    <li class="list"> Connect and learn about resources beyond the Federal Pell Grant </li>
</ul>

<div class="horizontal-con">
    <div class="grid">

    <p>$2.3 Billion of aid not disbursed due to failure to file the FAFSA.</p>
       
    </div> 

    <div class="grid">

    <p>Nearly 47% of those who did not attend college stated they were unwilling to take out student loans in order to finance college.</p>
        
    </div>

    <div class="grid">
    <p>Only 77% of undergraduate students in 2019 completed the application.</p>
            
    </div>
       

</div>

<div class="horizontal-con">
    <div class="grid">

    <p> There is no income limit to recieve finacial aid</p>
       
    </div> 

    <div class="grid">

    <p>A Federal Pell Grant is not a loan and thus, is not required to be repaid.</p>
        
    </div>

    <div class="grid">

    <p>Application period is between October 1 and June 30. </p>
            
    </div>
       

</div>

<div class="horizontal-con">

    <div class="vertical-con">
      
            <h2>Take the first step in securing your tution for college or technical institutes by creating an account!</h2>
        
       
        <div class="nav center" id="call-to">

            <%= link_to "Create An Account", new_user_registration_path, class:"a"%>
        </div> 
       
    </div> 
       

</div>